<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include "Includes.wxi"?>
	<Product Id="*" Name="OledAwake" Language="1033" Version="1.2.0" Manufacturer="Kzeery" UpgradeCode="d02d649b-bb89-4923-a2b5-46e6d5084956">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="$(var.PlatformString)"/>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
		<UIRef Id="WixUI_Mondo" />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.IncludeDir)\license.rtf" />
		<Feature Id="ProductFeature" Title="OledAwake" Level="1">
			<ComponentRef Id="Installbins"/>
			<ComponentRef Id="InstallLibsAndRegistry" />
		</Feature>
			<Directory Id="TARGETDIR" Name="SourceDir">
				<Directory Id="$(var.ProgramFilesDir)">
					<Directory Id="INSTALLFOLDER" Name="OledAwake">
						<Directory Id="Bins" Name ="bin">
							<Component Id="Installbins" Guid="{DEDE58B2-D01E-41BF-AAEC-A6DF581E84ED}">
								<File Id="OledAwakeEXE" Name="OledAwake.exe" DiskId="1" Source ="$(var.SourceDir)\OledAwake.exe" KeyPath="yes"/>
								<ServiceInstall
									  Id="ServiceInstaller"
									  Type="ownProcess"
									  Name="OledAwake"
									  DisplayName="OledAwake"
									  Start="auto"
									  ErrorControl="normal"
									  Vital="yes"
									  Description="This Service is responsible for awaking the monitor on user input after being turned off."
									  />
								<ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="OledAwake" Wait="yes" />
							</Component>
						</Directory>

						<Directory Id="Libs" Name ="lib">
							<Component Id="InstallLibsAndRegistry" Guid="{BF939823-44FC-4550-97C3-39AFE50851EE}">
								<File Source ="$(var.SourceDir)\ErrorMessages.dll" />
								<RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\OledAwake">
									<RegistryValue Type="integer" Name="TypesSupported" Value="7" />
									<RegistryValue Type="string" Name="EventMessageFile" Value="[Libs]ErrorMessages.dll" />
								</RegistryKey>
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			
	</Product>

</Wix>
